<section class="cart-show">

  <header class="page-header">
    <h1>My Cart</h1>
  </header>

  <% if cart.size > 0 %>
    <%= render 'cart' %>
  <% else %>
  <div class="order-summary jumbotron">
    <h4>Your Cart is Empty</h4>
  </div>
    <%= link_to "Back to Homepage", root_path, class: 'btn btn-lg btn-primary' %>
  <% end %>

</section>
